<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>

    <body>
        <h1>Today</h1>
        <% date = Time.new.strftime("%A, %B %d, %Y") %>
        <p><%= "The date is #{date}." %></p>
        <p></p>
    </body>
    
</html>