<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
    <head>

    <body>
        <h1>Welcome to My Coding Demo!</h1>
        <p>Click on the following links to access each page.</p>
        <ul>
            <li><a href = "/hello">hello</a></li>
            <li><a href = "/date">date</a></li>
            <li><a href = "/goodbye">goodbye</a></li>
        </ul> 
    </body>

</html>